html{
    background-color: rgb(255, 255, 255);
}

body{
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30vh;
}

.container{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.cont_logo{
    width: 100%;
    margin: 0 auto;
    height: 30vh;
    background-image: url(https://img.freepik.com/foto-gratis/fondo-planta-suculenta_90380-1394.jpg?size=626&ext=jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.cont_logo .filter{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, .5);
}

.cont_logo .filter img{
    margin: 10px auto;
    width: 200px;
    height: 180px;
}

.cont_nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    background: rgb(49,122,64);
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 68%, rgba(252,176,69,1) 100%);

}
.cont_nav nav{
    width: 100%;
    height: 100%;
}

.cont_nav nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cont_nav nav ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    height: 100%;
    padding: 5px 20px 5px 20px;
    color: rgb(15, 39, 83);
    transition: all .5s;
}

.cont_nav nav ul li:hover{
 color: rgb(255, 255, 255);
 cursor: pointer;
}

/*-------end navbar--------------*/

/*-------main--------------*/
main{
    margin-top: 80px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 500px;
    background-image: url(https://cdn.pixabay.com/photo/2018/07/22/09/22/background-3554110_960_720.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.container_inc{
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgba(255, 255, 255, .3);
    margin-top: -25px;
}

.container_inc div p{
    padding-top: 150px;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container_inc div h1{
    padding-top: -80px;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

}

.container_inc .sub1{
    width: 100%;
    text-align: center;
}

.container_inc .sub1 input{
    width: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    background-color: rgb(255, 109, 109);
    padding: 20px;
    shape-margin: 8px 8px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    letter-spacing: 2px;
    transition: 1s;
}

.container_inc .sub1 input:hover{
    background: rgb(49,122,64);
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 68%, rgba(252,176,69,1) 100%);
    
}

.container_inc .sub1 svg{
    width: 30px;
    height: 30px;
    align-items: center;   
    margin-left: -50px;
    margin-bottom: -8px;
}

.container_mid1{
    padding: 0;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    margin: 0;
    background-image: url(https://cdn.pixabay.com/photo/2016/04/18/13/53/room-1336497_960_720.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.container_mid1 .row_30{
    margin: 80px;
    width: 33%;
    height: 400px;
}

.container_mid1 .row_30:nth-child(1){
    background-image: url(https://clubsuculentas.com/wp-content/uploads/2019/08/crassula-perforata-variegata.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0px 0px;
}

.container_mid1 .row_30:nth-child(2){
    background-image: url(https://cactusandes.cl/wp-content/uploads/2020/04/Gasteria-bicolor-vr.liliputana-1.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0px 0px;
}

.container_mid1 .row_30:nth-child(3){
    background-image: url(https://cactusjungle.com/wp-content/uploads/2015/10/rosularia_platyphylla3.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0px 0px;
}

.container_mid1 .row_30 h2{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 250px;
    color: white;
}

.container_mid1 .row_30 input{
    width: 100%;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 109, 109);
    border: none;
}

.container_mid1 .row_30 input:hover{
    background: rgb(49,122,64);
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 68%, rgba(252,176,69,1) 100%);
}
/*-------end main--------------*/


/*-------footer--------------*/
.container__footer{
    margin-top: 380px;
    width: 100%;
    height: 100vh;
    background-color: crimson;
    background-image: url(https://image.freepik.com/foto-gratis/fondo-plantas-suculentas_90380-1392.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container__footer .filter{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 2555, .3);
}

.container__footer .filter .row:nth-child(1){
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container__footer .filter .row:nth-child(1) img{
    width: 20%;
    margin-top: 80px;
}

.container__footer .filter .row:nth-child(2){
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.container__footer .filter .row:nth-child(2) .col_30:nth-child(1){
    width: 25%;
    padding: 13px;
}

.container__footer .filter .row:nth-child(2) .col_30:nth-child(1) ul{
    list-style: none;
}

.container__footer .filter .row:nth-child(2) .col_30:nth-child(1) ul li{
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.container__footer .filter .row:nth-child(2) .col_30:nth-child(1) ul li:nth-child(1){
    color: rgb(15, 39, 83);
}
.container__footer .filter .row:nth-child(2) .col_30:nth-child(1) ul li:hover{
    color: rgb(15, 39, 83);
    cursor: pointer;
    transition: .5s;
}

.container__footer .filter .row:nth-child(2) .col_30:nth-child(2){
    width: 30%;
    padding: 39px;
}

.container__footer .filter .row:nth-child(2) .col_30:nth-child(2){
    list-style: none;
}

.container__footer .filter .row:nth-child(2) .col_30:nth-child(2) li{
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.container__footer .filter .row:nth-child(2) .col_30:nth-child(2) li:hover{
    color: rgb(15, 39, 83);
    cursor: pointer;
    transition: .5s;
}

.container__footer .filter .row:nth-child(2) .col_30:nth-child(3){
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container__footer .filter .row:nth-child(2) .col_30:nth-child(3) form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.container__footer .filter .row:nth-child(2) .col_30:nth-child(3) form label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.container__footer .filter .row:nth-child(2) .col_30:nth-child(3) form input{
    border-radius: 7px;
    outline: none;
    border: none;
    padding: 12px 0px;
    font-size: 1.1rem;
}

.container__footer .filter .row:nth-child(2) .col_30:nth-child(3) form button{
    width: 65%;
    padding: 7px 12px;
    margin-top: 20px;
    background-color: white;
    color: black;
    border: none;
    letter-spacing: 2px;
    font-weight: 700;
}

.container__footer .filter .row:nth-child(2) .col_30:nth-child(3) form button:hover{
    background: rgb(49,122,64);
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 68%, rgba(252,176,69,1) 100%);

}

.container__footer .filter .row:nth-child(3){
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container__footer .filter .row:nth-child(3) img{
    width: 50%;
    margin: 0 auto;
    margin-top: -50px;
}

.container__footer .filter .row:nth-child(3) span{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12px;
    margin-top: 20px;
}
/*-------end footer--------------*/